# Hidden system files
.DS_Store
.idea

# Configuration
/config/config.local.inc
/config/config.production.inc

# Node files
npm-debug.log
/bower_components
/node_modules

# Composer package module files
/vendor
composer.lock
